<div class="product-content">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="product-image">
        <img
          [src]="
            'https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/' +
            product?.logo +
            '-signature-400x225.jpg'
          "
          alt=""
        />
      </div>
      <div class="product-description">
        <h2>{{ product?.name }}</h2>
        <p>{{ product?.description }}</p>
      </div>
    </div>
  </div>
</div>
